<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to test page!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to test</h1>
    <p>Fill the form</p>
    <form method="POST" action="/test">
        <input type="text" name="txt">
        <button type="submit">SEND</button>
    </form>
    <p><% if (text) {%>
      <%= text%>
      <%} %>
    </p>
  </body>
</html>
